<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="static/start/css/stylereg.css">
</head>

<body>
<form action="/registration" method="post">
    {% csrf_token %}
    <div class="wrapper">
        <div class="title">
          Регистрация
        </div>
        <div class="form">
            <div class="inputfield">
              <label>UserName</label>
              {{form.username}}
           </div>

            <div class="inputfield">
              <label>Email</label>
              {{form.email}}
           </div>
            <div class="chk-box">
                <label style="color: white">Аккаунт для организации</label>
                    {{ form.isOrganization }}
            </div>
             <div class="inputfield">
              <label>Пароль</label>
              {{form.password}}
           </div>
          <div class="inputfield">
              <label>Подтвердите пароль</label>
              {{form.password2}}
           </div>

          <div class="inputfield">
            <input type="submit" value="Зарегистрироваться" class="btn">
          </div>
        </div>
    </div>
</form>
</body>
</html>