{% extends 'start/header.html' %}
{% load static %}
{% block content %}
<body>
    <div class="overflow-hidden bg-black shadow sm:rounded-lg">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg font-medium leading-6 text-white">Информация о стартапе</h3>
  </div>
    <div class="mx-auto -mt-24 max-w-2xl grid-cols-1 items-center gap-y-16 gap-x-8 py-24 px-4 sm:px-6 sm:py-32 lg:max-w-7xl lg:grid-cols-2 lg:px-8">
    <div>
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Описание проекта</h2>
      <p class="mt-2 text-black-500">{{ rialto.definitions }}</p>

      <dl class="mt-4 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 sm:gap-y-16 lg:gap-x-8">
        <div class="border-t border-gray-200 pt-4">
          <dt class="-mt-4 font-medium text-2xl text-gray-900">Требуемые инвестиции</dt>
          <dd class="mb-2 text-l text-black-500">{{ rialto.investment }} Млн. руб.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="-mt-4 font-medium text-2xl text-gray-900">Сроки</dt>
          <dd class="mt-2 text-l text-black-500">{{ rialto.deadline }}</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="-mt-4 font-medium text-2xl text-gray-900">FCF</dt>
          <dd class="mt-2 text-l text-black-500">От {{ rialto.FCF }} Млн. руб.</dd>
        </div>

        <div class="border-t border-gray-200 pt-4">
          <dt class="-mt-4 font-medium text-2xl text-gray-900">Студент</dt>
          <dd class="mt-2 text-l text-black-500">{{ rialto.studet.first_name }} {{ rialto.student.last_name }}</dd>
        </div>
      </dl>
    </div>
  </div>
  </div>
</body>
{% endblock %}
{% block title %}
Страница проекта
{% endblock %}