{% extends 'start/header.html' %}
{% load static %}
    <head>
        <link rel="stylesheet" href="static/start/css/stylereg.css">
    </head>
{% block content %}
    <body>
    {% if type == 'student' %}
        <form enctype="multipart/form-data" action="/profile" method="post">
            {% csrf_token %}
                <div class="wrapper">
                    <div class="title">
                      Информация о профиле
                    </div>
                    <div class="form">
                        <div class="inputfield">
                          <label>First Name</label>
                          {{form.first_name}}
                       </div>

                        <div class="inputfield">
                          <label>Last Name</label>
                          {{form.last_name}}
                       </div>

                        <div class="inputfield">
                          <label>Email</label>
                          {{form.email}}
                       </div>

                        <div class="inputfield">
                          <label>Phone</label>
                          {{form.phone}}
                       </div>

                        <div class="inputfield">
                          <label>Image</label>
                          {{form.image}}
                       </div>

                        <div class="inputfield">
                          <label>CV</label>
                          {{form.CV}}
                       </div>

                      <div class="inputfield">
                          <label>ISU</label>
                          {{form.ISU}}
                       </div>

                        <div class="inputfield">
                          <label>Tags</label>
                          {{form.tags}}
                       </div>

                        <div class="inputfield">
                          <label>Education</label>
                          {{form.education}}
                       </div>

                        <div class="inputfield">
                          <label>Department</label>
                          {{form.department}}
                       </div>

                        <div class="inputfield">
                          <label>Skills</label>
                          {{form.hardskill_softskill}}
                       </div>

                        <div class="inputfield">
                          <label>Experience</label>
                          {{form.experience}}
                       </div>

                      <div class="inputfield">
                        <input type="submit" value="Сохранить изменения" class="btn">
                      </div>
                </div>
            </div>
        </form>
        <a href="add_rialto" class="btn w-48 h-16 py-2 px-4">Создать проект для Биржи</a>
    {%  elif type == 'organization' %}
        <form enctype="multipart/form-data" action="/profile" method="post">
            {% csrf_token %}
                <div class="wrapper">
                    <div class="title">
                      Информация об организации
                    </div>
                    <div class="form">
                        <div class="inputfield">
                          <label>Name</label>
                          {{form.name}}
                       </div>

                        <div class="inputfield">
                          <label>Username</label>
                          {{form.username}}
                       </div>

                        <div class="inputfield">
                          <label>Email</label>
                          {{form.email}}
                       </div>

                        <div class="inputfield">
                          <label>INN</label>
                          {{form.INN}}
                       </div>
                      <div class="inputfield">
                        <input type="submit" value="Сохранить изменения" class="btn">
                      </div>
                </div>
            </div>
            <a href="add_project" class="btn w-48 h-16 py-2 px-4">Создать проект для компании</a>
        </form>
    {% endif %}
    </body>
{% endblock %}
{% block title %}
Oбновить данные
{% endblock %}