{% extends 'start/header.html' %}
{% load static %}
{% block content %}
    <body >
        <section class="min-h-screen body-font text-gray-600 ">
        <div class="container mx-auto px-5 py-10">
        <div class="-m-4 flex flex-wrap">
            {% for project in projects %}
            <div class="w-full p-4 md:w-1/2 lg:w-1/4">
              <a href="curproject/{{ project.id }}" class="scale1  relative block h-48 overflow-hidden rounded">
               <!--<img alt="ecommerce" class="block h-full w-full object-cover object-center cursor-pointer" src="{{ student.image.url }}" />-->
              </a>
              <div class="card-info mt-4">
                <h1 class="title-font text-xl font-medium">{{ project.name }}</h1>
                    <h2 class="title-font text-lg font-medium">{{ project.organization }}</h2>
              </div>
            </div>
            {% endfor %}
        </div>
        </div>
        </section>
    </body>
{% endblock %}
{% block title %}
Кандидаты
{% endblock %}