{% extends 'start/header.html' %}
{% load static %}
{% block content %}
    <body >
    <div class=container style="position:relative">
        {% for rialto in rialtos %}
                <a href="currialto/{{ rialto.id }}">
                <div class="pt-6 pr-64 pl-64 overflow-hidden">
                <dl>
                <div class="px-4 py-3 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 bg-white border-t border-l border-r border-b border-white rounded">
                    <dt class="text-xl font-medium text-purple">{{ rialto.name }}</dt>
                    <dt class="text-xl font-medium text-black">{{ rialto.student.user.first_name }} {{ rialto.student.user.last_name }}</dt>
                    <dt class="text-xl font-medium text-purple">{{ rialto.investment }} Млн. руб.</dt>
                </div>

                </dl>
                </div>
                </a>
            </dl>
    {% endfor %}
    </div>
    </body>
{% endblock %}
{% block title %}
Биржа
{% endblock %}