/*
@font-face {
	font-family: 'ALS Gorizont';
	font-style: normal;
	font-weight: normal;
	src: local('ALS Gorizont'),
		url('/static/start/fonts/ALSGorizontVariable.woff') format('woff'),
		url('/static/start/fonts/ALSGorizontVariable.ttf') format('ttf');
}

*{
  font-family: 'ALS Gorizont', sans-serif;
}
Black: #000000
Blue: #221183
Green: #52A874
Purple: #7B45EC
*/
.background-black{  background-color: #000000;}
.background-blue{  background-color: #221183;}
.background-green{  background-color: #52A874;}
.background-purple{  background-color: #7B45EC;}
.text-black{  color: #000000;}
.text-blue{  color: #221183;}
.text-green{  color: #52A874;}
.text-purple{  color: #7B45EC;}
